<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Profile Rodif Zainul Isro`i</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='/vendors/themify-icons/css/themify-icons.css') }}">

 <!-- Vendor CSS Files -->
 <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="static/vendor/aos/aos.css" rel="stylesheet">
 <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
 <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

 <!-- Main CSS File -->
 <link href="static/css/main.css" rel="stylesheet">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='/img/icons8-r-100.png') }}" rel="icon">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <h1 class="sitename">RODIPISROI</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#profile" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <section id="profile" class="hero section dark-background">
      <img src="{{ url_for('static', filename='/img/lanscape.jpg') }}" alt="" data-aos="fade-in">
      <div class="container d-flex flex-column align-items-center justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>I am Rodif Zainul Isro`i</h2>
        <p><span class="typed" data-typed-items="Freelancer, Pengangguran, Kurang Gawean"></span></p>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-md-6">

            <div class="row justify-content-between gy-4">
              <div class="col-lg-5">
                <img src="{{ url_for('static', filename='/img/rodip.png') }}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 about-info">
                <p><strong>Name: </strong> <span>Rodif ZAinul Isro`i</span></p>
                <p><strong>Profile: </strong> <span>Satpam Internet</span></p>
                <p><strong>Email: </strong> <span>is********@students.amikom.ac.id</span></p>
                <p><strong>Phone: </strong> <span>0852-xxxx-xxxx</span></p>
              </div>
            </div>

            <div class="skills-content skills-animation">

              <h5>Skills</h5>

              <div class="progress">
                <span class="skill"><span>Digital Forensic</span> <i class="val">88%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Network Analyst</span> <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Incident Response</span> <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>System Administrator</span> <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

            </div>
          </div>

          <div class="col-md-6">
            <div class="about-me">
              <h4>About me</h4>
              <p>
                Manage expectations dear hiring manager:, but no need to talk to users, just base it on the space calculator. Great plan! let me diarize this, and we can synchronise ourselves at a later timepoint please advise soonest, market-facing, and introduccion it's about managing expectations. Call in the air support dog and pony show cannibalize. Quick sync not a hill to die on, market-facing we need to get all stakeholders up to speed and in the right place product launch. Make it look like digital i have a hard stop in an hour and half, so productize. Imagineer how much bandwidth do you have
              </p>
              <p>
                Looks great, can we try it a different way this is not the hill i want to die on back-end of third quarter. Clear blue water. Timeframe can you champion this, but peel the onion let's see if we can dovetail these two projects. Single wringable neck reinvent the wheel, so flesh that out, yet flesh that out, for knowledge process outsourcing. In this space show pony per my previous email big data, but increase the resolution, scale it up we need a larger print, yet close the loop, nor meeting assassin
              </p>
              <p>
                First-order optimal strategies big picture customer centric personal development, nor eat our own dog food, yet we have to leverage up the messaging. Can we jump on a zoom blue sky thinking, so after I ran into Helen at a restaurant, I realized she was just office pretty, or what are the expectations, yet note for the previous submit: the devil should be on the left shoulder, yet thinking outside the box
              </p>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Rodif Zainul Isro`i</h4>
              <p><em>Saya adalah seorang profesional di bidang Digital Forensic dan Incident Response dengan pengalaman -1 tahun. Memiliki latar belakang dalam analisis data dan keamanan siber, saya ahli dalam mengidentifikasi, menganalisis, dan mengatasi insiden keamanan informasi.</em></p>
              <ul>
                <li>Yogyakarta, Indonesia</li>
                <li>0852********</li>
                <li>is********@students.amikom.ac.id</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>

            <div class="resume-item">
              <h4>Bachelor of Computer Engineering</h4>
              <h5>2022 - Present</h5>
              <p><em>Amikom University Yogyakarta, Yogyakarta, Indonesia</em></p>
              <p>Big picture put a record on and see who dances, nor we are running out of runway, nor get all your ducks in a row where the metal hits the meat, or sea change</p>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>IT Staff</h4>
              <h5>2019 - 2020</h5>
              <p><em>Kediri, Jawa Timur, Indonesia </em></p>
              <ul>
                <li>Menjadi superhero IT, mengerjakan berbagai pekerjaan termasuk bartender dan juga gardener</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Network Surfer</h4>
              <h5>2021 - 2023</h5>
              <p><em>Work From Anywhere</em></p>
              <ul>
                <li>Berselancar di dunia internet menggunakan alat yang bernama komputer atau smartphone</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Lifetime Learner</h4>
              <h5>2004 - Present</h5>
              <p><em>Whenever, Whatever</em></p>
              <ul>
                <li>Selalu memiliki niat untuk belajar hal baru, tetapi malas.........</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section>



    <section id="stats" class="stats section accent-background">

      <img src="static/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="0" class="purecounter">3</span>
              <p>Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="0" class="purecounter">2</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="9999" data-purecounter-duration="0" class="purecounter">9999</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="0" class="purecounter">2</span>
              <p>Awards</p>
            </div>
          </div>

        </div>

      </div>

    </section>


    
    <section id="contact" class="contact section">

    
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Pastikan penting</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-5">

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Jl. dimana saja, Yogyakarta, Indonesia</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>+62852********</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>is********@students.amikom.ac.id</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>


      </div>

    </section>

  </main>

  <footer id="footer" class="footer accent-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Rodip</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/amikomjogja/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/rodif/"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        Designed by <a href="">rodif zainul isro`i</a>
      </div>
    </div>

  </footer>

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/typed.js/typed.umd.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/js/main.js"></script>


</body>

</html>